body {
    margin: 0;
    padding: 0;
    background: #f6faf9;
    }
    .search-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #666666;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    }
    .search-box:hover > .search-txt {
    width: 250px;
    padding: 0 6px;
    }
    .search-box:hover > .search-btn {
    background: white;
    color: black;
    }
    .search-btn {
    color: #eeeeee;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    text-decoration:none;
    }
    .search-btn > i {
    font-size: 20px;
    }
    .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
    }

    .select-box {
        position: absolute;
        top: 25%;
        left: 75%;
        transform: translate(-50%, -50%);
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        width: 50px;
        height: 30px;
    }