body {
    font-family:Calibri;
    font-size:30px;
    text-align: center;
    /* background-image: url('../images/fond.jpg');
    background-repeat: no-repeat;
    background-size: 100%; */
    
}
 
.list
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
} 

ul{
    list-style-type: none ;
} 
a{
    padding: 10px;
    color:black;
    text-decoration:none;
    
}
p{
    size:50px;
    font-weight: bold;
}

.hov-img-zoom:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
} 


.multi-column {
    margin-left: 80px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-fill: auto;
    column-count: 3;
    column-gap: 20px;
    column-fill: auto;
    margin-top: 50px;
 }

 .home_bloc {
     text-align: center;
 }

 h1 {
     text-align: center;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}