{% extends "base.html" %}

{% block content %}
{% for i in range(albums|length) %}
<input type="text" name="id" value="{{albums[i].id}}" hidden>
{% set artiste = funcArtist(albums[i].auteur_id) %}
{% if ((i >= 18) and (i % 3 == 0)) %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{albums[i].titre}}</div>
                    <div class="panel-body">
                        <a class="text-white" method="POST" href="{{ url_for('info_album',id=albums[i].id,pseudoUser=pseudoUser) }}">
                            <img src="../../static/images/{{albums[i].urlImage}}" type="submit" class="img-responsive" style="width:100%" alt="">
                            <img src="{{albums[i].urlImage}}" type="submit" class="img-responsive" style="width:100%" alt="">
                        </a>
                    </div>
                    <div class="panel-footer"><a method="POST" href="{{ url_for('editArtist',id=albums[i].id,pseudoUser=pseudoUser,idArtist=albums[i].auteur_id) }}">Auteur : {{artiste.nomPrenom}}</a><br>Date de sortie : {{albums[i].dateDeSortie}}<br>Genres : {{albums[i].genres}}</div>
                </div>
            </div>
            {% elif((i >= 18) and (i % 3 == 1)) %}
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{albums[i].titre}}</div>
                    <div class="panel-body">
                        <a class="text-white" method="POST" href="{{ url_for('info_album',id=albums[i].id,pseudoUser=pseudoUser) }}">
                            <img src="../../static/images/{{albums[i].urlImage}}"  type="submit" class="img-responsive" style="width:100%" alt="">
                            <img src="{{albums[i].urlImage}}" type="submit" class="img-responsive" style="width:100%" alt="">
                        </a>
                    </div>
                    <div class="panel-footer"><a method="POST" href="{{ url_for('editArtist',id=albums[i].id,pseudoUser=pseudoUser,idArtist=albums[i].auteur_id) }}">Auteur : {{artiste.nomPrenom}}</a><br>Date de sortie : {{albums[i].dateDeSortie}}<br>Genres : {{albums[i].genres}}</div>
                </div>
            </div>
            {% elif ((i >= 18) and (i % 3 == 2)) %}
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{albums[i].titre}}</div>
                    <div class="panel-body">
                        <a class="text-white" method="POST" href="{{ url_for('info_album',id=albums[i].id,pseudoUser=pseudoUser) }}">
                            <img src="../../static/images/{{albums[i].urlImage}}"  type="submit" class="img-responsive" style="width:100%" alt="">
                            <img src="{{albums[i].urlImage}}" type="submit" class="img-responsive" style="width:100%" alt="">
                        </a>
                    </div>
                    <div class="panel-footer"><a method="POST" href="{{ url_for('editArtist',id=albums[i].id,pseudoUser=pseudoUser,idArtist=albums[i].auteur_id) }}">Auteur : {{artiste.nomPrenom}}</a><br>Date de sortie : {{albums[i].dateDeSortie}}<br>Genres : {{albums[i].genres}}</div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="{{ url_for('accueil',pseudoUser=pseudoUser)}}">1</a></li>
      <li class="page-item"><a class="page-link" href="{{ url_for('accueil2',pseudoUser=pseudoUser)}}">2</a></li>
      <li class="page-item"><a class="page-link" href="{{ url_for('accueil3',pseudoUser=pseudoUser)}}">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
    </ul>
  </nav>
</div>
{% endblock %}

