{% extends 'base.html' %}
{% block content %}
    <div class = "mb-2 text-center">
        <form method="POST" action="{{ url_for('add_album_bd',pseudoUser=pseudoUser) }}">
    <div class="form mb-2" rounded>
        <h1>Créer un album</h1>
    </div>
    <div class="container mb-2">
        
        <label for="Titre"><br><br>Titre :</label>
        <input type="text" placeholder="Destin" name="Titre" required>
    </div>
    <div class="form">
        <label for="Genre"><br><br>Artiste :</label>
        <input type="Genre" placeholder="Rap" name="Artiste" required>
        
    </div>
    <div class="form">
        <label for="Annee"><br><br>Date de sortie :</label>
        <input type="number" min="1900" max="2021"name="Annee" placeholder="2019" required>
    </div>
        <label for="Url"><br><br>URL Image :</label>
        <input type="text" name="URL" placeholder="https/..." required>
    <div class="bouton">
        <button class = "btn btn-outline-danger" type="submit">Créer</button>
    </div>
</div>
</form>
{% endblock %}