{% extends 'base.html' %}
{% block content %}
    <div class = "mb-2 text-center">
        <form method="POST" action="{{ url_for('modifArtist',idArtist=idArtist,pseudoUser=pseudoUser) }}">
    <div class="form mb-2" rounded>
        <h1>Edition de l'artiste</h1>
    </div>
    <div class="container mb-2">
        
        <label for="Titre"><br><br>Nom et Prénom :</label>
        <input type="text" placeholder="Michael Jackson" name="nom">
    </div>
    <div class="bouton">
        <label><br><br>Attention vous ne pourrez pas revenir en arrière !</label>
        <button class = "btn btn-outline-danger" type="submit">Modifier</button>
        <button type ="submit" formaction="{{ url_for('deleteArtist',idArtist=idArtist,pseudoUser=pseudoUser) }}" method="POST" class="btn btn-sm btn-outline-secondary" >Supprimer</button>
    </div>
</div>
</form>
{% endblock %}