{% extends 'base.html' %}

{% block ref %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_accueil.css') }}" >
{% endblock %}
    {% block content %}
    <div class = "text-center">
    <h1>{{ album.titre }}</h1>
        <div class = "mt-2">
            <input type="text" name="id" value="{{album.id}}" hidden>
            <img src="../../../../static/images/{{album.urlImage}}" style="width:20%" alt="">
            <img src="{{album.urlImage}}" style="width:20%" alt="">
            <p>Date de sortie : {{ album.dateDeSortie }} {{ album.genres }}</p>
            <form method="POST" id="add" action="{{ url_for('info_album',id=album.id,pseudoUser=pseudoUser)}}">
            <div class="select-box">
              <label>Ajouter à la playlist...<br></label>
              </div>
              <div class="select">
                <select name="playlists">
                    <option>Aucun</option>
                    {% for elem in playlist %}
                    <option>{{ elem.nom }}</option>
                    {% endfor %}
                </select>
                </div><button type="submit">Valider</button>
            <nav class="navbar-light bg-light">
            </form>
            
            <form class="container-fluid justify-content-start">
              <button type="submit" formaction="{{ url_for('modif_album',id=album.id,pseudoUser=pseudoUser) }}" method="POST" class="btn btn-outline-success me-2" >Modifier</button>
              <button type ="submit" formaction="{{ url_for('delete_album',id=album.id,pseudoUser=pseudoUser) }}" method="POST" class="btn btn-sm btn-outline-secondary" >Supprimer</button>
            </form>
        </div>
          </nav>
        </div>
          {% endblock %}
  
    
