<html>
    <body>
    <div class="d-flex align-items-start">
    <h1>Le pseudo est déjà utilisé.</h1>
    <form method = "GET", action="{{ url_for('register') }}" >
        <input value="Retour à la page d'inscription." type="submit" class="navbar-title" />
    </form>
    </div>
</body>
</html>

