<html>
    <h1>L'adresse e-mail est déjà utilisée.</h1>
    <form method = "GET", action="{{ url_for('register') }}" >
        <input value="Retour à la page d'inscription." type="submit" class="navbar-title" />
    </form>
</html>