<html>
    <body>
    <div class="d-flex align-items-start">
    <h1>Le pseudo ou le mot de passe est incorrect.</h1>
    <form method = "GET", action="{{ url_for('login') }}" >
        <input value="Retour à la page de connexion" type="submit" class="navbar-title" />
    </form>
    </div>
</body>
</html>