{% extends 'base.html' %}

{% block content %}
<div class = "text-center">
  <h1><strong>Bienvenue {{ user.pseudo }}!</strong></h1><br>
  <h2>Ton mail : {{ user.mail }} </h2><br>
  <h2>Ton nom : {{ user.nom }}</h2><br>
  <h2>Ton prénom : {{ user.prenom }}</h2><br>
  <h2>Ta date de naissance : {{ user.dateNaissance }}</h2>
</div>
{% endblock %}