{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div>
    <div class="search-box" >
    <div class="input-group">    
    <div class="form-outline" >
    <form method="POST" action="{{ url_for('maj_search',pseudoUser=pseudoUser)}}">
      <input type="text" name="search" class="search-txt" placeholder="Tapez pour rechercher"/>
        
      <!-- <input type="search" id="form1" name="search" class="form-control" />
      <label class="form-label" for="form1">Search</label> -->
      <!-- <a class="search-btn"  > -->
      <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
      <!-- </a> -->
    <input value="valider" type="submit"></input>
    <!-- <input value="valider" type="submit"></input> -->
    <div class="select-box">
        <select name="my_html_select_box">
            <option>Aucun</option>
            <option>Artiste</option>
            <option>Album</option>
            <option>Genre</option>
        </select>
        </div>
    <div class="select">
        <select name="myhtml">
            <option>Aucun</option>
            {% for elem in genre %}
            <option>{{ elem.nom }}</option>
            {% endfor %}
        </select>
        </div>
    </form>
    </div>
    {% for elem in album %}
    {% set artiste = funcArtist(elem.auteur_id) %}
    <img src="../../static/images/{{elem.urlImage}}" height="=400" width="400">
    <p>Titre : {{ elem.titre }}<br><br>Artiste : {{ artiste.nomPrenom }}<br></p>

    <div>
        {% endfor %}
    </div>
    </div>
    
</body>
{% endblock %}