<html>
    <h1>Vous avez bien été enregistré, veuillez vous connecter.</h1>
    <form method = "GET", action="{{ url_for('login') }}" >
        <input value="Retour à la page de connexion." type="submit" class="navbar-title" />
    </form>
</html>